// @use 'variables/colors';
// @use 'variables/theme';

/*	Gutters
————————————————————————————————————————————————————————— */

.markdown-source-view.mod-cm6 .cm-gutters {
  padding-right: 0;

  & .cm-lineNumbers .cm-gutterElement {
    min-width: 24px;
  }

  & .cm-lineNumbers .cm-gutterElement:not(.cm-active) {
    padding-right: 24px;
    opacity: 0.5;
  }

  & .cm-lineNumbers .cm-gutterElement.cm-active {
    padding-right: 24px;
    color: var(--text-muted);
    border-radius: var(--radius-s) 0 0 var(--radius-s);
  }
}

/*	Active Line Highlighting
————————————————————————————————————————————————————————— */

body {
  --active-line-accent: transparent;
}

.markdown-source-view.mod-cm6 .cm-active:not(.HyperMD-codeblock) {
  background-color: var(--active-line-accent);
  border-radius: 0 var(--radius-s) var(--radius-s) 0;
}

/*	Emphasis
————————————————————————————————————————————————————————— */

/* Highlight */
.search-result-file-matched-text, // search results
.markdown-rendered mark,
.cm-s-obsidian span.cm-highlight {
  color: var(--text-normal);
  padding: 2px 4px;
  background: linear-gradient(
    to right,
    var(--highlight-color),
    var(--highlight-color)
  );
  background-size:
    100% 5px,
    0 5px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size, 400ms;

  &:hover {
    color: var(--background-secondary);
    background-size:
      100% 100%,
      0 0.1em;
  }
}

.cm-highlight {
  --highlight-color: var(--yellow);
}

.cm-em {
  --highlight-color: var(--blue);
}

.cm-strong {
  --highlight-color: var(--pink);
}

/*	Horizontal Rule
————————————————————————————————————————————————————————— */
body {
  --hr-color: var(--background-modifier-border);
  --hr-thickness: 1.5px;
}

/*	Readable line length
————————————————————————————————————————————————————————— */
body {
  --file-line-width: 40rem;
}
