// @use 'variables/colors';
// @use 'variables/theme';

body {
  --scrollbar-active-thumb-bg: var(--layer-hover-1) !important;
  --scrollbar-bg: rgb(var(--mono-rgb-100)) !important;
  --scrollbar-thumb-bg: var(--layer-1) !important;
}
